<% provide(:title, 'About') %>
<h1><%= "#{t('about')}" %></h1>
	<h2>
		<% "#{t('caregiving_in_us')}" %>
	</h2>
<div class="about">
<div>
  <div>
		<a href="http://www.aarp.org/content/dam/aarp/ppi/2015/caregiving-in-the-united-states-2015-report-revised.pdf">
		<%= "#{t('aarp')}" %></a>
		<p><%= "#{t('2015_Report')}" %>: <%= "#{t('caregiving_in_us')}" %>.</p>
			<h3>
				<%= "#{t('key_findings')}" %>
			</h3>
				<h4>
					<%= "#{t('prevelence_of_caregiving')}" %>
				</h4>
					<p>
						<%= "#{t('estimated')}" %> <mark><strong> <%= "#{t('million')}" %> </strong></mark> <%= "#{t('adult_or_child')}" %>
					</p>
				<h4>
					<%= "#{t('basicts_caregiving')}" %>
				</h4>
					<p>
						<mark><%= "#{t('majority_of_caregivers')}" %> </mark> <%= "#{t('are_female')}" %> <mark> <%= "#{t('are_49')}" %> </mark> <%= "#{t('on_average_large')}" %>
					</p>
					<p>
						<%= "#{t('nearly_1_in_10')}" %>
					</p>
					<p>
						<%= "#{t('how_long')}" %> <mark> <%= "#{t('on_average_4')}" %> </mark> <%= "#{t('with_a_quarter')}" %>
					</p>
					<p>
						<%= "#{t('typical_care_recipient')}" %>
					</p>
					<p>
						[...]
					</p>
				<h4>
					<%= "#{t('primary_caregiver_status')}" %>
				</h4>
					<p>
						<mark><%= "#{t('over_six_in_10')}" %> </mark> <%= "#{t('meaning_either')}" %> <mark> <%= "#{t('the_37_percent')}" %> </mark>
					</p>
					<p>
						<%= "#{t('three_out_of_four')}" %>
					</p>
	<!-- Footnotes -->
	<h6>
		<%= "#{t('foot_note_7')}" %>
	</h6>
</div>
</div></div>