<% provide(:title, 'Help') %>
<h1><%= "#{t('help')}" %></h1>
	<h2><%= "#{t('helpful_app_info')}" %></h2>
		<div class="help">
			<div>
  			<div>
					<h3><%= "#{t('home_page')}" %></h3>
						<ol>
							<%= "#{t('without_sigining_in')}" %>:
							<li><%= "#{t('help')}" %></li>
							<li><%= "#{t('about')}" %></li>
							<li><%= "#{t('contact')}" %></li>
							<li><%= "#{t('login')}" %></li>
							<li><%= "#{t('sign_up_now')}" %></li>
						</ol>
						<ol>
							<%= "#{t('once_you_signup')}" %>:
							<li><%= "#{t('feed')}" %></li>
							<li><%= "#{t('list_of_users')}" %></li>
							<li><%= "#{t('profile')}" %></li>
							<li><%= "#{t('settings')}" %></li>
							<li><%= "#{t('useful_tools')}" %></li>
								<ul>
									<li><%= "#{t('todo_list')}" %></li>
									<li><%= "#{t('addresses')}" %></li>
									<li><%= "#{t('medications')}" %></li>
								</ul>
						</ol>
				</div>
			</div>
		</div>