<% if logged_in? %>
      <% provide(:title, 'About') %>
      <h1>Home - Micropost Feed</h1>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
      <div class="col-md-8">
        <h3>Posts</h3>
        <%= render 'shared/feed' %>
      </div>
  </div>
<% else %>
  <div class="center jumbogron">
  	<h1>Welcome to TLCshare</h1>
  	<h5>Organize caregiving | Share caregiving</h5>
  		<h1>
  			Home
  		</h1>

    	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
    <div class="infocontent">
      <h4>TLCshare is a place for Caregivers!</h4>
        <ul>Shared:
          <li>Microfeed - share information and questions with other users.
          </li>
          <li>
            Choose other users to follow; or
          </li>
          <li>
            Unfollow.
          </li>
          <li>
            You can also blog for yourself!
          </li>
        </ul>
        <ul>Personal - to organize:
          <li>
            Todo list;
          </li>
          <li>
            Addresses and contact information;
          </li>
          <li>
            Medications list, and more...
          </li>
        </ul>
        <ul>Co-caregiver, Friends & Family Share:
          <li>
            If may choose to share your "log in" information with co-caregivers, family or friends -- to coordinate tasks, share information and keep informed!
          </li>
        </ul>
    </div>
<% end %>
