<% provide(:title, 'Contact') %>
<h1>Contact</h1>
	<h2>
		Contact Us for more information
	</h2>
<%= form_for @message do |f| %>
		<div class="contactus">
		<div class="row">
  		<div class="col-md-6 col-md-offset-3">
  		  <%= render 'shared/error_messages', object: f.object %>
				<form>
				  <div class="field">
				    <%= f.text_field :name, class: "c_input", placeholder: "Name" %>
				  </div>
				  <br>
				  <div class="field">
				    <%= f.email_field :email, class: "c_input", placeholder: "Email" %>
				  </div>
				  <br>
				  <div class="field">
				    <%= f.text_field :subject, class: "c_input", placeholder: "Subject" %>
				  </div>
				  <br>
				  <div class="field">
				    <%= f.text_area :content, class: "c_input",  :rows => 4, :cols => 50, placeholder: "Content" %>
				  </div>
				  <br>
				  <div class="actions">
				    <%= f.submit 'Submit', class: "btn btn-primary" %>
				  </div>
	  			</form>
  			</div></div></div>
		</div>
<% end %>
