<div class="scaf">
<!-- <p id="notice"><%= notice %></p> -->
  <h1><%= "#{t('medications')}" %></h1>
    <table>
      <thead>
        <tr>
          <th>Medication</th>
          <th>Dose</th>
          <th>Doctor</th>
          <th>Treats</th>
          <th>Frequency</th>
          <th>Notes</th>
          <th>Created at</th>
          <th>Updated at</th>
          <th>User</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody class="scaf">
        <% @medications.each do |medication| %>
          <tr>
            <td><%= medication.medication %></td>
            <td><%= medication.dose %></td>
            <td><%= medication.doctor %></td>
            <td><%= medication.treats %></td>
            <td><%= medication.frequency %></td>
            <td><%= medication.notes %></td>
            <td><%= medication.created_at %></td>
            <td><%= medication.updated_at %></td>
            <td><%= medication.user_id %></td>
            <td><%= link_to 'Show', medication %></td>
            <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
            <td><%= link_to 'Destroy', medication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <%= link_to 'New Medication', new_medication_path %>
</div>