<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_recurring', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'main.js' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= image_tag "frangipani-flower.jpg", class: "img_logo" %>
    <%= render 'layouts/header' %>
  	<%= yield %>
  	<%= render 'layouts/footer' %>
  </body>
</html>

