<!DOCTYPE html>
<html>
<head>
 <title><%= full_title(yield(:title)) %></title>
<!--  <title>Scheduler on Rails</title> -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'dhtmlxscheduler', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'ext/dhtmlxscheduler_recurring', 'data-turbolinks-track' => true %>

 <%= render 'layouts/shim' %>
</head>
<body>
    <%= render 'layouts/header' %>
	<%= yield %>
	<%= render 'layouts/footer' %>

</body>
</html>

